<footer>
  <div class="container">
    <div class="row">
      <div class="col s4">
        <div class="footer-col">
            fdsa
        </div>
      </div>
      <div class="col s4">
          <div class="footer-col">
              fdsa
          </div>
      </div>
      <div class="col s4">
          <div class="footer-col">
              fdsa
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col s12">
            Visit Formosa {{ getDate() }} ©
        </div>
    </div>
  </div>
</footer>
