.header {
  font-size:1.6rem;
}

:host {
  text-align: center;
  display: block;
  margin: 10% 0;
}

.actions {
  text-align: center;
}

#error-msg {
  border-radius: .2rem;
  text-align: left;
  margin: .7rem 0;
  color: #9f2723;
}