<nav>
    <div class="nav-wrapper">
      <a [routerLink]='["/"]' class="brand-logo navbar-brand">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/food"]'>Food</a>
        </li>
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/travel"]' href="#">Travel</a>
        </li>
        <li><a href="#">About</a></li>
        <li><a class="dropdown-trigger" data-toggle="dropdown-content" data-target="#dropdown1" aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded" (click)="toggle()">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-trigger" data-toggle="dropdown-content" data-target="#dropdown2" aria-label="ToggleTwo navigation"
          [attr.aria-expanded]="isExpanded" (click)="toggletwo()">Dropdown2<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><div *ngIf="!!authService.getUser()">Hi!, {{ authService.getUser() }}</div></li>
        <li>
          <a *ngIf="authService.isAuthenticated$" [routerLink]='["/"]' (click)="logout()">Logout</a>
          <a *ngIf="!authService.isAuthenticated$" [routerLink]='["/login"]'>Login</a>
        </li>
      </ul>
    </div>
    <ul id="dropdown1" class="dropdown-content" [ngClass]='{"show": isExpanded}'>
      <li><a href="#!">one</a></li>
      <li class="divider"></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content" [ngClass]='{"showtwo": isExpandedTwo}'>
        <li><a href="#!">four</a></li>
        <li class="divider"></li>
        <li><a href="#!">five</a></li>
        <li class="divider"></li>
        <li><a href="#!">six</a></li>
      </ul>
  </nav>