<div class="container">
<h1>Travel</h1>
<!-- Full-Block -->
<section class="full-block">  
    <div class="info infoOnLeft">
        <img src="https://dl.dropboxusercontent.com/s/80dyd1ct5di7484/SASS_breakout_land_heart.png" />
        <div class="title">What's new in Taiwan?</div>
        <div class="subtitle">Best food, best trip and nice people!</div>
        <div class="cta-wrapper">
            <a class="cta" href="#">Find Restaurant</a>
        </div>
        <div class="cta-wrapper">
            <a class="cta" href="#">Travel Tip</a>
        </div>
    </div>
    <img class="desktop" src="https://dl.dropboxusercontent.com/s/3prtg3l7aeiyog3/SASS_breakout_land_desktop.jpg" />
    <img class="mobile" src="https://dl.dropboxusercontent.com/s/d4v4xuvrtssqrxp/SASS_breakout_land_mobile.jpg" />
</section>

<!-- Info grid -->
<section class="info-grid">
    <div class="row">
      <!-- Card -->
      <div class="col m4 s6">
        <div class="info-box">
          <div class="img-container">
              <img src="https://dl.dropboxusercontent.com/s/85ko5kt8nbd7xwz/grilled_port_n_shrimp.jpg" />
          </div>
          <div class="img-info">
            <h5 class="title">What is Lorem Ipsum?</h5>
            <h6 class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
            <div class="row rate-box">
                <div class="col s3">
                  <h6 class="small-title">Rate</h6>
                  4.6
                </div>
                <div class="col s5">
                  <h6 class="small-title">Type</h6>
                  Restaurant
                </div>
                <div class="col s4">
                  <h6 class="small-title">Price</h6>
                  $$
                </div>
            </div>
          </div>
          <div class="text-center">
              <a class="waves-effect waves-light btn">Read More</a>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="col m4 s6">
          <div class="info-box">
            <div class="img-container">
                <img src="https://dl.dropboxusercontent.com/s/85ko5kt8nbd7xwz/grilled_port_n_shrimp.jpg" />
            </div>
            <div class="img-info">
              <h5 class="title">What is Lorem Ipsum?</h5>
              <h6 class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
              <div class="row rate-box">
                  <div class="col s3">
                    <h6 class="small-title">Rate</h6>
                    4.6
                  </div>
                  <div class="col s5">
                    <h6 class="small-title">Type</h6>
                    Restaurant
                  </div>
                  <div class="col s4">
                    <h6 class="small-title">Price</h6>
                    $$
                  </div>
              </div>
            </div>
            <div class="text-center">
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
          </div>
      </div>
      <!-- Card -->
      <div class="col m4 s6">
          <div class="info-box">
            <div class="img-container">
                <img src="https://dl.dropboxusercontent.com/s/85ko5kt8nbd7xwz/grilled_port_n_shrimp.jpg" />
            </div>
            <div class="img-info">
              <h5 class="title">What is Lorem Ipsum?</h5>
              <h6 class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
              <div class="row rate-box">
                  <div class="col s3">
                    <h6 class="small-title">Rate</h6>
                    4.6
                  </div>
                  <div class="col s5">
                    <h6 class="small-title">Type</h6>
                    Restaurant
                  </div>
                  <div class="col s4">
                    <h6 class="small-title">Price</h6>
                    $$
                  </div>
              </div>
            </div>
            <div class="text-center">
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
          </div>
      </div>
      <!-- Card -->
      <div class="col m4 s6">
          <div class="info-box">
            <div class="img-container">
                <img src="https://dl.dropboxusercontent.com/s/85ko5kt8nbd7xwz/grilled_port_n_shrimp.jpg" />
            </div>
            <div class="img-info">
              <h5 class="title">What is Lorem Ipsum?</h5>
              <h6 class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
              <div class="row rate-box">
                  <div class="col s3">
                    <h6 class="small-title">Rate</h6>
                    4.6
                  </div>
                  <div class="col s5">
                    <h6 class="small-title">Type</h6>
                    Restaurant
                  </div>
                  <div class="col s4">
                    <h6 class="small-title">Price</h6>
                    $$
                  </div>
              </div>
            </div>
            <div class="text-center">
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
          </div>
      </div>
      <!-- Card -->
      <div class="col m4 s6">
          <div class="info-box">
            <div class="img-container">
                <img src="https://dl.dropboxusercontent.com/s/85ko5kt8nbd7xwz/grilled_port_n_shrimp.jpg" />
            </div>
            <div class="img-info">
              <h5 class="title">What is Lorem Ipsum?</h5>
              <h6 class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
              <div class="row rate-box">
                  <div class="col s3">
                    <h6 class="small-title">Rate</h6>
                    4.6
                  </div>
                  <div class="col s5">
                    <h6 class="small-title">Type</h6>
                    Restaurant
                  </div>
                  <div class="col s4">
                    <h6 class="small-title">Price</h6>
                    $$
                  </div>
              </div>
            </div>
            <div class="text-center">
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
          </div>
      </div>
      <!-- Card -->
      <div class="col m4 s6">
          <div class="info-box">
            <div class="img-container">
                <img src="https://dl.dropboxusercontent.com/s/85ko5kt8nbd7xwz/grilled_port_n_shrimp.jpg" />
            </div>
            <div class="img-info">
              <h5 class="title">What is Lorem Ipsum?</h5>
              <h6 class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h6>
              <div class="row rate-box">
                  <div class="col s3">
                    <h6 class="small-title">Rate</h6>
                    4.6
                  </div>
                  <div class="col s5">
                    <h6 class="small-title">Type</h6>
                    Restaurant
                  </div>
                  <div class="col s4">
                    <h6 class="small-title">Price</h6>
                    $$
                  </div>
              </div>
            </div>
            <div class="text-center">
                <a class="waves-effect waves-light btn">Read More</a>
            </div>
          </div>
      </div>
    </div>
  </section>
</div>
